body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("./images/lcw-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: #ffffff;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#intro {
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 20px;
}


.player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.player-input {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.player1-name, .player2-name{
    flex: 1;
}
.player1-name {
    border: 2px solid skyblue;
    border-radius: 20px;
    padding: 20px;
}

.player2-name {
    border: 2px solid #FA8A85;
    border-radius: 20px;
    padding: 20px;
}


.win-condition-button {
    display: flex;
    flex-direction: row;
}

.wincon {
    margin-bottom: 10px;
}