body {
    font-family: Arial, sans-serif;
    background: #242124;
    color: #f0f0f0;
}

.app {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
}

#player-reg, #scoreboard {
    display: block;
}

#player-reg:not(.active),
#scoreboard:not(.active) {
    display: none;
}


.player-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.player-input {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.player1-name, .player2-name {
    flex: 1;
    padding: 10px;
}

.player1-name input,
.player2-name input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    box-sizing: border-box;
}